@charset "ISO-8859-1";

:root {
  --text: #0d0d0d;
  --bg: #ededed;
  --shadow: #cdcdcd;
  --primary: #4cf0eb;
  --secondary: #00039e;
  --accent: #02ed1e;
  --danger: #fa971e;

  --cardWidth : 350px;
  --cardHeigth : 450px;

}

/* Custom Scroll bar Style */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width:thin;
  scrollbar-color: var(--secondary) #f1f1f1;
}