@charset "UTF-8";
/* llp.css */
.footer {
    background-color: #181818;
    color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-logo img {
    max-width: 150px;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 14px;
}

.social-icons a {
    margin-right: 10px;
}

.footer-links h3, .footer-contact h3, .footer-location h3 {
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact p, .footer-location p {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    font-size: 14px;
}
