<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>LBMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>2592000</session-timeout>
  </session-config>
  
  
  <servlet>
    <description></description>
    <display-name>authServlet</display-name>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>auth.authServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/authServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>auth.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookInsert</display-name>
    <servlet-name>bookInsert</servlet-name>
    <servlet-class>Book.bookInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookInsert</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookUpdateDemo</display-name>
    <servlet-name>bookUpdateDemo</servlet-name>
    <servlet-class>Book.bookUpdateDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookUpdateDemo</servlet-name>
    <url-pattern>/bookUpdateDemo</url-pattern>
  </servlet-mapping>
</web-app>